.cartItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.infoHolder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.infoHolder p {
  font-weight: 400;
  line-height: 1.5;
}

.infoHolder p span {
  color: black;
  font-weight: bold;
}

.infoHolder img {
  height: 4rem;
  border-radius: 0.5rem;
}

.trashBtn {
  border: none;
  background: none;
  cursor: pointer;
}

.trashBtn img {
  height: 1.2rem;
}

.checkoutBtn {
  width: 90%;
  margin-top: 1.5rem;
  height: 3.5rem;
  border: none;
  border-radius: 0.5rem;
  background: rgb(255, 125, 26);
  color: hsl(223, 64%, 98%);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
